<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Cat Page</title>
  </head>
  <body>

    <h2> New Cat</h2>
    <h3> Enter your cats information: </h3>

    <%= render "form", cat: @cat %>


  </body>
</html>
